:root {
  font-size: 10px;
  --shadow-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* background-color: #eeebea; */
}

.title {
  line-height: 0.85;
  font-family: "Archivo black", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 8rem;
  font-weight: 400;
  color: white;
  text-shadow: 2px 0px var(--shadow-color), 1px 0px var(--shadow-color),
    1px 1px var(--shadow-color), 0px 2px var(--shadow-color),
    -1px 3px var(--shadow-color), -1px 3px var(--shadow-color),
    -2px 4px var(--shadow-color), -3px 5px var(--shadow-color),
    -4px 6px var(--shadow-color), -5px 7px var(--shadow-color),
    -6px 8px var(--shadow-color), -7px 9px var(--shadow-color),
    -8px 10px var(--shadow-color), -9px 11px var(--shadow-color),
    -10px 12px var(--shadow-color), -11px 13px var(--shadow-color),
    -12px 14px var(--shadow-color), -13px 15px var(--shadow-color),
    -1px 0px var(--shadow-color), -2px 1px var(--shadow-color),
    -3px 2px var(--shadow-color), -4px 3px var(--shadow-color),
    -5px 4px var(--shadow-color), -6px 5px var(--shadow-color),
    -7px 6px var(--shadow-color), -8px 7px var(--shadow-color),
    -9px 8px var(--shadow-color), -10px 9px var(--shadow-color),
    -11px 10px var(--shadow-color), -12px 11px var(--shadow-color);
}

.left {
  flex: 0.4;
}

.right {
  flex: 0.6;
}
